:root {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 2;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, rgb(8, 10, 39), rgb(19, 19, 102));

 
}


body {
  margin: 0;
  text-align: justify;
  display: flex;
  min-width: 400px;
  min-height: 100vh;
}
